<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=TGfun</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">passw0rd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <mapping class="model.Member.MemberBean"/>	
        
        <mapping class="model.MemberOrder.MemberOrderBean"/>                
        <mapping class="model.RoomInfo.RoomInfoBean"/>
        <mapping class="model.RoomDeviceInfo.RoomDeviceInfoBean"/>
        <mapping class="model.DeviceInfo.DeviceInfoBean"/>
        
        
        <mapping class="model.OrderRoomInfo.OrderRoomInfoBean"/>
        <mapping class="model.BBQOrder.BBQOrderBean"/>
        <mapping class="model.BBQInfo.BBQInfoBean"/>
        
        
        <mapping class="model.Message.MessageBean"/>
        <mapping class="model.Article.ArticleBean"/>
        <mapping class="model.Report.ReportBean"/>
    </session-factory>
</hibernate-configuration>
